# Ignore model weights and checkpoints
sft-lora-*/
checkpoints-*/
checkpointsOld-*/
*.safetensors
*.bin
*.pt
*.pth

# Ignore Python caches
__pycache__/
*.pyc

# Ignore wandb logs
wandb/

# Ignore environment variables
.env